.numeroSorteadoQuina{
    background-color: #260085;
    padding: 15px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin: 45px 15px 0 50px;
}

.numeroswrapperQuina {
    display: flex;
}

.numerosContainerQuina{
    display: flex;
    flex-direction: column;
}

.numerosContainerQuina h1{
    margin: 15px 0 0 50px;
    color: #0066b3;
}

.numerosContainerQuina p {
    color: #4c556c;
    margin-left: 55px;

}